@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");
*,
body {
  list-style: none;
  font-family: Mulish, sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
  scroll-behavior: smooth;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 120px 20px;
  align-items: center;
}
.hamburger, .close {
  display: none;
  width: 40px;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}
.close img {
    width: 100%;
}
.show {
    display: flex !important;
}
.hide{
    display: none !important;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  font-size: 16px;
}
.nav-links li:not(:last-child) {
  margin-right: 25px;
}
.nav-links li a {
  color: #000000;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px;
  margin-top: 35px;
  position: relative;
}
.header p:first-child {
  font-weight: 700;
  font-size: 46px;
  margin: 70px 0 0;
}
.header p:nth-child(2) {
  font-size: 18px;
  line-height: 27px;
  color: #7d7987;
  font-weight: 300;
  margin-top: 25px;
}
.header button {
  width: 150px;
  height: 40px;
  background: #458ff6;
  border-radius: 55px;
  border: none;
  cursor: pointer;
  color: #fff;
  margin-top: 45px;
}
.header button:hover {
  color: #458ff6;
  background: #fff;
  border: 1px solid #458ff6;
  transition: all ease 0.2s;
}
.header img:last-child {
  width: 5%;
  position: absolute;
  top: 0;
  left: 0;
}
.header-img {
  width: 50%;
}
.services {
  text-align: center;
}
.services .services-text {
  text-align: center;
  margin-top: 70px;
}
.services .services-text p:first-child {
  font-weight: bold;
  font-size: 36px;
}
hr {
  border-color: #000000;
  border-width: 1px;
  width: 56px;
  border-radius: 5px;
  margin: 26px auto 0;
}
.services .services-text p:last-child {
  margin-top: 33px;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #7d7987;
}
.services .services-cards {
  display: grid;
  grid-row-gap: 37px;
  grid-column-gap: 34px;
  grid-template-columns: 1fr 1fr 1fr;
  width: 75%;
  margin: 80px auto 0;
  position: relative;
}
.services .services-cards div {
  border-radius: 20px;
  background: #fff;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  padding: 40px 33px;
  z-index: 3;
  text-align: left;
}
.services .services-cards div:hover {
  box-shadow: 10px 40px 40px rgba(213, 214, 219, 0.4);
  transition: all ease 0.2s;
}
.services .services-cards div img {
  width: 70px;
  height: 70px;
}
.services .services-cards div p:nth-child(2) {
  margin-top: 22px;
  font-size: 22px;
  font-weight: 700;
}
.services .services-cards div p:nth-child(3) {
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: #7d7987;
  margin-top: 12px;
}

.services .services-cards .background {
  position: absolute;
  z-index: 2;
}
.services .services-cards img:nth-child(7) {
  left: 91.88%;
  top: 42.74%;
  width: 100px;
}
.btn {
  margin: 68px 0 0;
  border: 1.4px solid #458ff6;
  box-sizing: border-box;
  border-radius: 55px;
  color: #458ff6;
  width: 160px;
  padding: 10px 0;
  background: #fff;
}
.providers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 160px 0 120px;
  margin-top: 120px;
}
.providers img {
  width: 50%;
}
.providers div p:first-child {
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
}
.second-hr {
  margin: 26px 0;
}
.providers div p:nth-child(3) {
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  color: #7d7987;
}
.btn-2 {
  margin-top: 40px;
}
.btn:hover,
.btn-2:hover {
  color: #fff;
  background: #458ff6;
  transition: all ease 0.2s;
}
.download-app {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px 0 160px;
  margin-top: 120px;
}
.download-app div p:first-child {
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
}
.download-app div p:nth-child(3) {
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  color: #7d7987;
}
.download-app img:nth-child(2) {
  width: 50%;
}
.download-app img:nth-child(3) {
  position: absolute;
  width: 70px;
  left: 94.62%;
  right: -2.85%;
  bottom: 120.63%;
}






/* TESTIMONIALS  */
.testimonials {
  margin: 120px auto 0;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 100%);
  scroll-behavior: smooth;
  overflow: hidden;
}
.testimonial {
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  border-radius: 24px;
  width: 820px;
  height: 320px;
  margin: 0 auto 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 100;
  line-height: 25px;
  
  overflow: hidden;
}

.testimonial-heading {
    font-size: 30px;
line-height: 40px;
font-weight: bold;
text-align: center;
color: #FFFFFF;
margin-top: 50px;
z-index: 10000;
}
.testimonial-img {
    border-radius: 50%;
    border: 3px solid #fff;
    width: 100px;
    
}
.testimonial div:nth-child(3) .individual {
    display: flex;
    width: 270px;
    justify-content: space-between;
    align-items: center;
}
.testimonial div:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
    margin: 50px auto 0;

}
.individual-details p:first-child{
    
font-weight: 500;
font-size: 17px;
line-height: 30px;
}
.testimonial-details {
    width: 350px;
}
.testimonial hr {
    border-color: #fff;
    
}
.element-one {
    position: absolute;
    top: -20px;
    right: -40px;

}
.testimonial-section .controls {
    margin: 0 auto;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.testimonial-section .controls svg {
    cursor: pointer;  
}
.radio-buttons {
    opacity: .6;
}
.radio-buttons.active {
    opacity: 1;
}






.article {
  margin-top: 120px;
  text-align: center;
}
.article p:first-child {
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
}
.articles {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 73%;
  margin: 70px auto 0;
  text-align: left;
}
.articles div {
  width: 285px;
  height: 450px;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
}
.articles div:hover {
  box-shadow: 10px 40px 40px rgba(213, 214, 219, 0.4);
  transition: all ease 0.2s;
}
.articles div img {
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.articles div p:nth-child(2) {
  text-align: left;
  font-size: 17px;
  line-height: 28px;
  font-weight: 700;
  margin: 24px 0 0 32px;
}
.articles div p:nth-child(3) {
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
  color: #7d7987;
  margin: 12px 0 25px 32px;
}

.articles div a:nth-child(4) {
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #4089ed;
  text-decoration: none;
  margin: 0 0 0 32px;
}
.footer {
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
  width: 100%;
  height: 400px;
  margin-top: 120px;
  color: white;
  position: relative;
}
.footer .footer-links {
  display: flex;
  justify-content: space-between;
  margin: 100px auto 0;
  width: 80%;
}
.footer .logo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.footer .logo .logo-bg {
  width: 41px;
  height: 41px;
  background: #ffffff;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 41px;
  font-weight: bold;
  font-size: 26px;
  color: #5b9bf3;
}
.footer .logo span {
  font-weight: 500;
  font-size: 20px;
  margin-left: 10px;
}
.footer .footer-links p {
  font-weight: 100;
  font-size: 14px;
  line-height: 30px;
}
.footer .footer-links div p:first-child {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 15px;
}
.footer img:nth-child(3) {
  position: absolute;
  width: 110px;
  top: -62px;
  z-index: -2;
  right: 60px;
}
.footer img:last-child {
  position: absolute;
  width: 90px;
  bottom: 0;
}

#menu {
  background: #fff;
  position: absolute;
  top: 80px;
  right: 0px;
  padding: 20px;
  width: 200px;
  height: 100vh;
  opacity: 0;
  transition: opacity ease 0.3s;
}
#menu ul li {
  margin-bottom: 25px;
  color: #000000;
  font-weight: 400;
}
#menu ul li a {
  color: #000000;
}

























/* Responsiveness */
@media (max-width: 1040px) and (min-width: 940px) {
    .btn {
        padding: 5px 0;
    }
}
@media (max-width: 1040px) and (min-width: 940px) {
  .nav-links {
    font-size: 15px;
  }
  .header p:first-child {
    font-size: 40px;
  }
  .header p:nth-child(2) {
    font-size: 16px;
  }
  .header button {
    width: 120px;
    height: 35px;
  }
  .header-img {
    width: 47%;
  }
  .providers {
    padding: 0 100px 0 120px;
  }
  .providers div p:first-child {
    font-size: 30px;
  }
  .providers div p:nth-child(3) {
    font-size: 14px;
  }
  .btn,
  .btn-2 {
    width: 120px;
    height: 35px;
  }
  .download-app {
    padding: 0 90px 0 140px;
  }
  .download-app div p:first-child {
    font-size: 30px;
  }
  .download-app div p:nth-child(3) {
    font-size: 14px;
  }
  .download-app img:nth-child(3) {
    width: 50px;
  }
  .articles {
    width: 85%;
  }
  .articles div {
    width: 260px;
  }
  .articles div p:nth-child(2) {
    font-size: 15px;
  }
  .articles div p:nth-child(3) {
    font-size: 13px;
  }
  .articles div a:nth-child(4) {
    font-size: 14px;
  }
}
@media (max-width: 939px) and (min-width: 0px) {
  .nav-links {
    display: none;
  }
  .hamburger {
    display: flex;
    background: none;
    outline: none;
    border: none;
  }
  hr,
  .second-hr {
    margin-left: auto;
    margin-right: auto;
  }
  .providers {
    padding: 0 100px 0 120px;
    display: block;
  }
  .providers div {
    text-align: center;
  }
  .providers img {
    display: block;
    margin: 0 auto 20px;
  }
  .download-app {
    flex-direction: column;
    flex-flow: column-reverse;
  }
  .download-app img:nth-child(2) {
    margin: 0 auto 20px;
   
  }
  .download-app div {
    text-align: center;
  }
}
@media (max-width: 939px) and (min-width: 738px) {
  .navbar {
    padding: 50px 50px 20px;
  }
  .close {
    width: 26px;
}
 #menu {
     margin-top: 10px;
 }
  .header {
    padding: 0 50px;
  }
  .header p:first-child {
    font-size: 38px;
  }
  .header p:nth-child(2) {
    font-size: 14px;
  }
  .header button {
    width: 120px;
    height: 35px;
  }
  .header-img {
    width: 50%;
  }
  .services .services-text p:first-child {
    font-size: 34px;
    line-height: 20px;
  }
  .services .services-text p:last-child {
    font-size: 14px;
    margin-top: 24px;
  }
  .services .services-cards {
    grid-template-columns: 1fr 1fr;
  }
  .providers img {
    width: 450px;
  }


  .providers div p:first-child {
    font-size: 30px;
  }
  .providers div p:nth-child(3) {
    font-size: 14px;
  }
  .btn,
  .btn-2 {
    width: 120px;
    height: 35px;
  }
  .download-app {
    padding: 0 90px 0 140px;
  }
  .download-app div p:first-child {
    font-size: 30px;
  }
  .download-app div p:nth-child(3) {
    font-size: 14px;
  }
  .download-app img:nth-child(2) {
    width: 450px;
  }
  .download-app img:nth-child(3) {
    width: 40px;
  }
  .testimonial {
    width: 700px;
  }
  .testimonial div:nth-child(3) {
      width: 650px;
      font-size: 14px;
  }
  .testimonial-img {
      width: 90px;
  }
  .testimonial div:nth-child(3) .individual {
      width: 250px;
  }
  .testimonial-details {
      width: 300px;
  }
  .articles {
    width: 90%;
  }
  .articles div {
    width: 210px;
    height: 400px;
  }
  .articles div p:nth-child(2) {
    font-size: 15px;
    margin-left: 20px;
  }
  .articles div p:nth-child(3) {
    font-size: 11px;
    margin-left: 20px;
  }
  .articles div a:nth-child(4) {
    font-size: 12px;
    margin-left: 20px;
  }
  .footer .footer-links {
    width: 90%;
  }
  .footer .logo .logo-bg {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 23px;
  }
  .footer .logo span {
    font-size: 18px;
    margin-left: 8px;
  }
  .footer .footer-links p {
    font-size: 13px;
  }
}
@media (max-width: 737px) and (min-width: 0px) {
  .header {
    display: block;
  }
  .header-img {
    display: none;
  }
  .testimonial div:nth-child(3) {
      margin-top: 10px;
    flex-direction: column;
    flex-flow: column-reverse;
}
.testimonial-details {
    margin: 0 auto;
    text-align: center;
}
}
@media (max-width: 737px) and (min-width: 537px) {
  .navbar {
    padding: 30px 30px 20px;
  }
  .close {
    width: 25px;
}
  .header {
    padding: 0 100px;
  }
  .header p:first-child {
    font-size: 38px;
  }
  .header p:nth-child(2) {
    font-size: 14px;
  }
  .header button {
    width: 120px;
    height: 35px;
  }
  .services .services-text p:first-child {
    font-size: 34px;
    line-height: 20px;
  }
  .services .services-text p:last-child {
    width: 70%;
    font-size: 14px;
    margin: 24px auto 0;
  }
  .services .services-cards {
    grid-template-columns: 1fr 1fr;
  }
  .services .services-cards div {
    padding: 40px 20px;
  }
  .services .services-cards img:nth-child(7) {
    width: 90px;
  }
  .providers img {
    width: 340px;
  }

  .providers div p:first-child {
    font-size: 30px;
  }
  .providers div p:nth-child(3) {
    font-size: 14px;
  }
  .btn,
  .btn-2 {
    width: 120px;
    height: 35px;
  }
  .download-app {
    padding: 0 90px 0 140px;
  }
  .download-app div p:first-child {
    font-size: 30px;
  }
  .download-app div p:nth-child(3) {
    font-size: 14px;
  }
  .download-app img:nth-child(2) {
    width: 340px;
  }
  .download-app img:nth-child(3) {
    width: 28px;
  }
  .testimonial {
    width: 500px;
  }
  .testimonial div:nth-child(3) {
      width: 480px;
      font-size: 12px;
  }
  .testimonial-img {
      width: 70px;
  }
  .testimonial div:nth-child(3) .individual {
      margin-top: 10px;
      width: 210px;
      
  }
  .testimonial-details {
      width: 400px;
  }
  .individual-details p:first-child {
      font-size: 13px;
  }
  .article p:first-child {
    font-size: 32px;
    line-height: 35px;
  }
  .articles {
    display: block;
  }
  .articles div {
    margin: 0px auto 20px;
    width: 300px;
    height: 450px;
  }
  .articles div p:nth-child(2) {
    font-size: 15px;
    margin-left: 20px;
  }
  .articles div p:nth-child(3) {
    font-size: 13px;
    margin-left: 20px;
  }
  .articles div a:nth-child(4) {
    font-size: 12px;
    margin-left: 20px;
  }
  .footer .footer-links {
    width: 90%;
  }
  .footer .logo .logo-bg {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 23px;
  }
  .footer .logo span {
    font-size: 16px;
    margin-left: 8px;
  }
  .footer .footer-links p {
    font-size: 11px;
  }
}
@media (max-width: 536px) and (min-width: 0px) {
    .footer .footer-links {
        margin-top: 50px;
    }
  .footer .footer-links div:nth-child(4) {
    margin-bottom: 0;
    padding-bottom: 5px;
  }
  .testimonial hr {
      margin: 10px auto;
  }
}

@media (max-width: 536px) and (min-width: 336px) {
  .navbar {
    padding: 30px 30px 20px;
  }
  .navbar .hamburger{
      width: 25px;
  }
  .close {
      width: 18px;
  }
  .header {
    padding: 0 30px;
  }
  .header p:first-child {
    font-size: 30px;
  }
  .header p:nth-child(2) {
    font-size: 14px;
  }
  .header button {
    width: 120px;
    height: 35px;
  }
  .services .services-text p:first-child {
    font-size: 26px;
    line-height: 20px;
  }
  .services .services-text p:last-child {
    width: 80%;
    font-size: 14px;
    margin: 24px auto 0;
  }
  .services .services-cards {
      width: 87%;
    display: block;
    margin: 80px 25px 0;
  }
  .services .services-cards div {
    padding: 40px 20px;
    margin: 0 auto 20px;
  }
  .services .services-cards img:nth-child(7) {
    width: 90px;
    left: 75%;
    z-index: -5;
  }
  .providers {
    padding: 0 20px;
  }
  .providers img {
    width: 300px;
  }

  .providers div p:first-child {
    font-size: 26px;
    line-height: 37px;
  }
  .providers div p:nth-child(3) {
    font-size: 13px;
  }
  .btn,
  .btn-2 {
    width: 120px;
    height: 35px;
  }
  .download-app {
    padding: 0 20px;
  }
  .download-app div p:first-child {
    font-size: 26px;
    line-height: 37px;
  }
  .download-app div p:nth-child(3) {
    font-size: 14px;
  }
  .download-app img:nth-child(2) {
    width: 300px;
  }
  .download-app img:nth-child(3) {
    display: none;
  }
  .testimonial {
    width: 300px;
  }
  .testimonial-heading {
      font-size: 21px;
      padding: 5px;
      margin-top: 20px;
      line-height: 30px;
  }
  .testimonial div:nth-child(3) {
    width: 290px;
    font-size: 12px;
    margin-top: 0;
}
.testimonial-img {
    width: 60px;
}
.testimonial div:nth-child(3) .individual {
    margin-top: 10px;
   width: 190px;
    
}
.testimonial-details {
    width: 270px;
}
.individual-details p:first-child {
    font-size: 13px;
}
  .article p:first-child {
    font-size: 26px;
    line-height: 30px;
  }
  .articles {
    display: block;
    width: auto;
  }
  .articles div {
    margin: 0px auto 20px;
    width: 334px;
    height: 480px;
  }
  .articles div p:nth-child(2) {
    font-size: 15px;
    margin-left: 20px;
  }
  .articles div p:nth-child(3) {
    font-size: 13px;
    margin-left: 20px;
  }
  .articles div a:nth-child(4) {
    font-size: 12px;
    margin-left: 20px;
  }
  .footer {
    height: auto;
    padding-bottom: 30px;
  }
  .footer .footer-links {
    display: block;
    width: 90%;
  }
  .footer .logo .logo-bg {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 23px;
  }
  .footer .logo span {
    font-size: 16px;
    margin-left: 8px;
   margin-bottom: 15px;
  }
  .footer .footer-links div {
    margin-bottom: 20px;
  }
  .footer .footer-links div:nth-child(2) {
    float: right;
    order: 2;
  }
  .footer .footer-links p {
    font-size: 11px;
  }
  .footer img:last-child {
    display: none;
  }
}
@media (max-width: 336px) and (min-width: 200px) {
  .navbar {
    padding: 30px 7px 20px;
  }
  .navbar img:last-child {
    width: 30px;
  }
  .header {
    padding: 0 20px;
  }
  .header p:first-child {
    font-size: 38px;
  }
  .header p:nth-child(2) {
    font-size: 14px;
  }
  .header button {
    width: 120px;
    height: 35px;
  }
  .services .services-text p:first-child {
    font-size: 34px;
    line-height: 20px;
  }
  .services .services-text p:last-child {
    width: 85%;
    font-size: 13px;
    margin: 24px auto 0;
  }
  .services .services-cards {
    display: block;
  }
  .services .services-cards div {
    padding: 40px 20px;
    margin: 0 auto 20px;
  }
  .services .services-cards img:nth-child(7) {
    width: 70px;
    left: 75%;
    z-index: -5;
  }
  .providers {
    padding: 0 20px;
  }
  .providers img {
    width: 230px;
  }

  .providers div p:first-child {
    font-size: 28px;
    line-height: 40px;
  }
  .providers div p:nth-child(3) {
    width: 70%;
    font-size: 13px;
    margin: 0 auto;
  }
  .btn,
  .btn-2 {
    width: 120px;
    height: 35px;
  }
  .download-app {
    padding: 0 20px;
  }
  .download-app div p:first-child {
    font-size: 28px;
    line-height: 40px;
  }
  .download-app div p:nth-child(3) {
    width: 70%;
    font-size: 13px;
    margin: 0 auto;
  }
  .download-app img:nth-child(2) {
    width: 230px;
  }
  .download-app img:nth-child(3) {
    display: none;
  }
  .testimonial {
    width: 250px;
  }
  .testimonial-heading {
    font-size: 21px;
    padding: 5px;
    margin-top: 20px;
    line-height: 30px;
}
.testimonial div:nth-child(3) {
  width: 230px;
  font-size: 12px;
  margin-top: 0;
}
.testimonial-img {
  width: 50px;
}
.testimonial div:nth-child(3) .individual {
  margin-top: 10px;
 width: 170px;
  
}
.testimonial-details {
  width: 230px;
}
.individual-details p:first-child {
  font-size: 12px;
}

  .article p:first-child {
    font-size: 26px;
    line-height: 35px;
  }
  .articles {
    display: block;
  }
  .articles div {
    margin: 0px auto 20px;
    width: 200px;
    height: 400px;
  }
  .articles div p:nth-child(2) {
    font-size: 14px;
    margin-left: 10px;
  }
  .articles div p:nth-child(3) {
    font-size: 11px;
    margin-left: 10px;
  }
  .articles div a:nth-child(4) {
    font-size: 12px;
    margin-left: 10px;
  }
  .footer {
    height: auto;
  }
  .footer .footer-links {
    display: block;
    width: 90%;
  }
  .footer .logo .logo-bg {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 23px;
  }
  .footer .logo span {
    font-size: 16px;
    margin-left: 8px;
    margin-bottom: 15px;
  }
  .footer .footer-links div {
    margin-bottom: 20px;
  }
  .footer .footer-links div:nth-child(2) {
    float: right;
    order: 2;
  }
  .footer .footer-links p {
    font-size: 11px;
  }
  .footer img:last-child {
    display: none;
  }
}
